<nav class="navbar navbar-expand-lg navbar-dark bg-dark-light fixed-top">
  <a class="ml-2" routerLink="/">
    <img src="../../../assets/img/Logo.png" width="65" height="60" alt="">
  </a>
  <h1 class="font-weight-bold my-auto ml-2 mr-3 light-gray-text" routerLink="/">SISTEMA DE CAPACITACIONES | UPEA</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLogin" class="nav-item active">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li *ngIf="isLogin" class="nav-item active">
        <a class="nav-link" routerLink="/courses"><i class="fas fa-graduation-cap"></i> Capacitaciones</a>
      </li>
      <li *ngIf="isLogin" class="nav-item active">
        <a class="nav-link" routerLink="/administrator"><i class="fas fa-user-cog"></i> Administrador</a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-5">
      <li *ngIf="isLogin" class="nav-item active dropdown mr-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie"></i> {{administrator.nombres}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-center" (click)="onLogout()">Cerrar Sesión</a>
        </div>
      </li>
      <li *ngIf="!isLogin" class="nav-item active">
        <a class="nav-link" (click)="openLogin()" data-toggle="modal" data-target="#loginModal"><i class="fas fa-user-alt"></i> Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="loading" class="load">
  <div class="loading"></div>
</div>

<app-login></app-login>