/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt{
    padding-top: 7rem;
}

.white-text{
    color: white;
}

.light-gray-text{
    color: rgb(232, 226, 235)
}

.bg-dark-light{
    background-color: rgba(0, 0, 0, 0.411);
}
.bg-dark-strong{
    background-color: rgba(0, 0, 0, 0.616);
}

.btn-purple{
    background-color: rgb(120, 6, 173);
}

mat-form-field{
    color: white !important;
}

.footer {
    position   : fixed;
    bottom     : 0px;
    width      : 100%;
    height     : 5%;
}